body{
    background-color:black;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }

h1, p {
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

div {
    width: 50%;
    margin-left: 25%;
}

img{
    width: 100%;
    border: solid #FFFFFF 5px;
}